# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Jenkins
.jenkins/
workspace/
builds/
last*/
*/builds/*
*/workspace/*
*/last*/
*/configurations/*/builds/*
*/configurations/*/workspace/*
*/configurations/*/last*/
*/jobs/*/builds/*
*/jobs/*/workspace/*
*/jobs/*/last*/
*/modules/*/builds/*
*/modules/*/workspace/*
*/modules/*/last*/
*/jobs/*/modules/*/builds/*
*/jobs/*/modules/*/workspace/*
*/jobs/*/modules/*/last*/
*/jobs/*/jobs/*/builds/*
*/jobs/*/jobs/*/workspace/*
*/jobs/*/jobs/*/last*/
*/jobs/*/jobs/*/modules/*/builds/*
*/jobs/*/jobs/*/modules/*/workspace/*
*/jobs/*/jobs/*/modules/*/last*/
*/jobs/*/jobs/*/jobs/*/builds/*
*/jobs/*/jobs/*/jobs/*/workspace/*
*/jobs/*/jobs/*/jobs/*/last*/
*/jobs/*/jobs/*/jobs/*/modules/*/builds/*
*/jobs/*/jobs/*/jobs/*/modules/*/workspace/*
*/jobs/*/jobs/*/jobs/*/modules/*/last*/

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
